  <header>
      <nav [style.background]="header_color">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s8 offset-s2">
                  <a href="#" class="brand-logo">Inventary</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li [routerLinkActive]="['active']">
                      <a href="#" [routerLink]="['/home']">Home</a>
                    </li>
                    <li [routerLinkActive]="['active']">
                      <a href="#" [routerLink]="['/productos']">List</a>
                    </li>
                    <li [routerLinkActive]="['active']">
                      <a href="#" [routerLink]="['/create']">Add</a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </nav>
  </header>
  <main>
      <div class="col s12">
          <!-- Content  -->
          <router-outlet></router-outlet>
        </div>
  </main>
