<div class="row">
  <div class="col s12">
    <h2 class="header">Page Not Found</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Request not found</p>
        </div>
      </div>
    </div>
  </div>
</div>