<div class="row">
    <form class="col s8 offset-s2" (ngSubmit)="onSubmit()" #formProducto="ngForm" id="form-producto">
        <div class="row">
          <div class="input-field col s12">
            <input id="nombre" type="text" #nombre="ngModel" name="name" [(ngModel)]="producto.name" class="form-control" required>
            <label for="first_name">Name</label>
            <blockquote *ngIf="!nombre.valid && nombre.touched">
              name is required
            </blockquote>
          </div>
          <div class="input-field col s12">
            <input id="precio" type="text" #price="ngModel" name="price" [(ngModel)]="producto.price" class="form-control" required pattern="[0-9]+">
            <label for="precio">Price</label>
          </div>
          <div class="input-field col s12">
            <textarea id="description" #description="ngModel" name="description" [(ngModel)]="producto.description" class="materialize-textarea form-control"
              required></textarea>
            <label for="textarea1">Description</label>
            <blockquote *ngIf="!description.valid && description.touched">
              description is required
            </blockquote>
          </div>
          <div class="input-field col s12" *ngIf="isEdit">
            <img class="responsive-img" src="{{producto.image}}" width="60">
          </div>
          <div class="input-field col s12">
            <div class="file-field input-field">
              <div class="btn blue lighten-3">
                <span>Image</span>
                <input type="file" (change)="fileChangeEvent($event)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light blue lighten-3" type="submit" name="action">Save
              <i class="material-icons right ">save</i>
            </button>
            <span>{{_error}}</span>
          </div>
        </div>
      </form>
</div>


