<div class="row">
  <div class="col s10 offset-s1">
    <ul class="collection" *ngIf="productos">
      <li class="collection-item" *ngFor="let producto of productos">
        <div class="row">
          <div class="col l9 m9 s12">
            <div class="row">
              <div class="col l3 m3 s12">
                <img src="{{producto.image}}" class="responsive-img">
              </div>
              <div class="col l9 m9 s12">
                <span class="title">{{producto.name}}</span>
                <p>${{producto.price}}
                </p>
              </div>
            </div>
          </div>
          <div class="col l3 m3 s12">
            <div class="row">
              <div class="col s4">
                <a href="#" class="" [routerLink]="['/producto',producto.id]">
                  <i class="material-icons">visibility</i>
                </a>
              </div>
              <div class="col s4">
                <a href="#" class="" [routerLink]="['/edit',producto.id]">
                  <i class="material-icons">edit</i>
                </a>
              </div>
              <div class="col s4">
                <a class="" (click)="onDeleteProducto(producto.id)">
                  <i class="material-icons">delete</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>