<div class="row">
  <div class="col l6 m10 s10 offset-l3 offset-m1 offset-s1">
    <div class="card" *ngIf="producto">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{producto.image}}" height="200" width="100">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{producto.name}}
          <i class="material-icons right">more_vert</i>
        </span>
        <p>
          $ {{producto.price}}
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{producto.name}}
          <i class="material-icons right">close</i>
        </span>
        <p>{{producto.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!producto">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>